<body>
  <a
    href="https://www.linkedin.com/in/caiquebezerra/"
    class="logo"
    target="_blank"
  >
    <img
      src="../../assets/img/WhatsApp_Image_2021-07-22_at_4.55.49_PM-removebg-preview(3).png"
      style="height: 200px; width: 200px"
      alt=""
    />
  </a>

  <div class="section">
    <div class="container">
      <div class="row full-height justify-content-center">
        <div class="col-12 text-center align-self-center py-5">
          <div class="section pb-5 pt-5 pt-sm-2 text-center">
            <label for="reg-log"></label>
            <div class="card-3d-wrap mx-auto">
              <div class="card-3d-wrapper">
                <div class="card-front">
                  <div class="center-wrap">
                    <div class="section text-center">
                      <h4 class="mb-2 pb-3">Informações do Usuário</h4>
                      <div class="col-md-12">
                        <img
                          class="rounded-circle"
                          height="45px"
                          width="45px"
                          src="{{ user.avatar_url }}"
                          alt=""
                        />
                      </div>
                      <label for="">Nome Usuário</label>
                      <div class="form-group">
                        <div>
                          <input
                            [(ngModel)]="user.login"
                            type="text"
                            name="nome"
                            class="form-style"
                            id="nomeUsuario"
                            autocomplete="off"
                          />
                          <i
                            class="fa fa-at input-icon uil uil-at"
                            aria-hidden="true"
                          ></i>
                        </div>
                      </div>
                      <label class="mt-2" for="">Número Repositórios</label>
                      <div class="form-group">
                        <div>
                          <input
                            [(ngModel)]="user.public_repos"
                            type="text"
                            name="nome"
                            class="form-style"
                            id="nomeUsuario"
                            autocomplete="off"
                          />
                          <i
                            class="fa fa-list-ol input-icon uil uil-at"
                            aria-hidden="true"
                          ></i>
                        </div>
                      </div>
                      <label class="mt-2" for=""
                        >Número Repositórios com Estrela</label
                      >
                      <div class="form-group">
                        <div>
                          <input
                            [(ngModel)]="listaRepositoriosEstrela.length"
                            type="text"
                            name="nome"
                            class="form-style"
                            id="nomeUsuario"
                            autocomplete="off"
                          />
                          <i
                            class="fa fa-star input-icon uil uil-at"
                            aria-hidden="true"
                          ></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <table class="table table-striped mt-4 text-light">
            <thead>
              <tr>
                <th scope="col">Nome Repositorio</th>
                <th scope="col">Número de Estrelas</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listaRepositorios">
                <th>{{ item.name }}</th>
                <th>{{ item.stargazers_count }}</th>
                <td class="d-flex justify-content-center"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
