<body>
  <a
    href="https://www.linkedin.com/in/caiquebezerra/"
    class="logo"
    target="_blank"
  >
    <img
      src="../../assets/img/WhatsApp_Image_2021-07-22_at_4.55.49_PM-removebg-preview(3).png"
      style="height: 200px; width: 200px"
      alt=""
    />
  </a>

  <div class="section">
    <div class="container">
      <div class="row full-height justify-content-center">
        <div class="col-12 text-center align-self-center py-5">
          <div class="section pb-5 pt-5 pt-sm-2 text-center">
            <!-- <h6 class="mb-0 pb-3"><span>Cadastrar</span><span>Log In</span></h6>
            <input
              class="checkbox"
              type="checkbox"
              id="reg-log"
              name="reg-log"
            /> -->
            <label for="reg-log"></label>
            <div class="card-3d-wrap mx-auto">
              <div class="card-3d-wrapper">
                <div class="card-front">
                  <div class="center-wrap">
                    <div class="section text-center">
                      <h4 class="mb-4 pb-3">Veja as Informações</h4>
                      <label for="">Nome Usuário</label>
                      <div class="form-group">

                        <div >

                          <input
                          [(ngModel)]="user.login"
                            type="text"
                            name="nome"
                            class="form-style"
                            id="nomeUsuario"
                            autocomplete="off"
                          />
                          <i
                            class="fa fa-at input-icon uil uil-at"
                            aria-hidden="true"
                          ></i>
                        </div>
                      </div>
                      <label class="mt-2" for="">Número Repositórios</label>
                      <div class="form-group">
                        <div >
                          <input
                          [(ngModel)]="user.public_repos"
                            type="text"
                            name="nome"
                            class="form-style"
                            id="nomeUsuario"
                            autocomplete="off"
                          />
                          <i
                            class="fa fa-list-ol input-icon uil uil-at"
                            aria-hidden="true"
                          ></i>
                        </div>
                      </div>
                      <div class="form-group mt-2">
                        <!-- <input

                          type="password"
                          name="senhaLogin"
                          class="form-style"
                          placeholder="Sua Senha"
                          id="logpass"
                          autocomplete="off"
                        />
                        <i class="fa fa-lock input-icon uil uil-lock-alt"></i> -->
                        <!-- <button
                          type="submit"
                          class="btn mt-4"
                          (click)="pesquisarUsuario(user.nome)"
                        >
                          Pesquisar
                        </button> -->
                      </div>

                      <!-- <p class="mb-0 mt-4 text-center">
                        <a href="#0" class="link">Esqueceu sua senha?</a>
                      </p> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
